<div class="row p-0">
  <div class="col-sm-12 p-0">
    <div>
      <!-- <b>Locations</b> -->
      <div id="accordion">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <a class="card-link" data-toggle="collapse" href="#collapseLocation">
                    Locations
                  </a>
              </h5>
            </div>
            <div id="collapseLocation" class="collapse show" data-parent="#accordion">
              <div class="card-body" style="font-size:15px;">
                  Mumbai
                <ul >
                  <li >
                      Dadar
                  </li>
                  <li>
                      Bandra
                  </li>
                  <li>
                     Mahim
                  </li>
                  <li>
                      Santacruz
                  </li>
                  <li>
                      Andheri
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="accordion1">          
            <div class="card">
              <div class="card-header">
                  <h5 class="mb-0">
                  <a class="collapsed card-link" data-toggle="collapse" href="#collapsePrice">
                      Filter
                    </a>
                </h5>            
              </div>
              <div id="collapsePrice" class="collapse" data-parent="#accordion1">
                <div class="card-body">
                  Range
                </div>
              </div>
            </div>       
          </div>
    </div>
  </div>
</div>