<div class="row" style="border-top:2px solid rgb(217, 224, 33);text-align: center;background: rgba(229, 231, 185, 0.69);">

  <div class="col-sm-3 mb-2 mt-3 p-0">
    <h6>Popular Locations</h6>
    <div style="font-size:15px;">Navi Mumbai</div>
    <div style="font-size:15px;">Mumbai</div>
  </div>

  <div class="col-sm-3 mb-2 mt-3 p-0">
    <h6>ABOUT US</h6>
    <div style="font-size:15px;">About Propertysolution4u Group</div>
    <div style="font-size:15px;">Contact Us</div>
  </div>
  <div class="col-sm-3 mb-2 mt-3">
    <h6>Propertysolution4u</h6>
    <div style="font-size:15px;">Help</div>
    <div style="font-size:15px;">Support</div>
  </div>
  <div class="col-sm-3 mb-2 mt-3 p-0">
    <h6>Follow Us</h6>
    <div>
      <a href="https://instagram.com/dapperdonindia" target="_blank" style="border-radius: 50%;height: 36px;line-height: 32px;width: 36px;font-size: 15px; margin-left: 10px;text-align: center;color: #000;display:inline-block;padding: 1px;background-color: #ccc;">
        <i class="fa fa-instagram fa-2x" aria-hidden="true" style="font-size: inherit;"></i>
      </a>
      <a href="https://www.facebook.com/dapperdonindia" target="_blank" style="border-radius: 50%;height: 36px; line-height: 32px;width: 36px;font-size: 15px; margin-left: 10px;text-align: center;color: #000;display: inline-block;padding: 1px;background-color: #ccc;">
        <i class="fa fa-facebook fa-2x" aria-hidden="true" style="font-size: inherit;"></i>
      </a>
      <a href="https://www.linkedin.com/company/13189943" target="_blank" style="    border-radius: 50%;height: 36px;line-height: 32px;width: 36px;font-size: 15px;margin-left: 10px;text-align: center;color: #000;display: inline-block;padding: 1px;background-color: #ccc;">
        <i class="fa fa-linkedin fa-2x" aria-hidden="true" style="font-size: inherit;"></i>
      </a>
      <a href="https://www.twitter.com/dapperdonindia" target="_blank" style="    border-radius: 50%;height: 36px;line-height: 32px;width: 36px;font-size: 15px;margin-left: 10px;text-align: center;color: #000;display: inline-block;padding: 1px;background-color: #ccc;">
        <i class="fa fa-twitter fa-2x" aria-hidden="true" style="font-size: inherit;"></i>
      </a>
    </div>
  </div>

</div>
<div class="row p-2" style="background:#000;color:#fff;">
  <div class="col-sm-12">
    <div style="text-align:right;font-size: 15px;"> © 2019, Propertysolution4u</div>
  </div>
</div>